# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# secret files
.gitconfig

# environment files
.env.*
!.env.example

# dependencies
/node_modules

# builds
/.next

# devops
/devops

# misc
.DS_Store
